@font-face {
    font-family: Barrio;
    src: url(https://fonts.google.com/specimen/Quicksand?query=Quicksand)
}

html {
    width: 100%;
}

body {
    width: 100%;
    background-color: antiquewhite;
    font-family: jost;
}